{% extends "index.html" %}
{% block body%}

    <main class="container">

        {% if error %}
            <span>{{error}}</span>
         {% endif %}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form method="post" class="card card-body mt-5">
                    <h2>Formulario de inicio de sesion</h2>

                    {%csrf_token%}
                    <div class="mb-3 form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" placeholder="Introduce tu username" class="form-control" id="username">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" placeholder="Introduzca su password" class="form-control" id="password">
                    </div>
                    <div class="mb-3 form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
       
    </main>

{% endblock %}